<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tienda Yedi</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<DIV ALIGN=x>

	<link rel="stylesheet" href="/css/main.css">
</head>
<center>

<body>
	
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<b>
					
				<a href="/" class="nav-link">
					Inicio
				</a>
			
			</b>
		
			</li>
			<li class="nav-item">
				<a href="/products" class="nav-link">
					Productos
				</a>
			</li>
		</ul>
	</nav>

</DIV>
</body>
